* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: x-large;
}

body{
	font-size: 20px;
	font-family: sans-serif;
    color: #333;
    text-align: center;
}
.bg-img {
    margin-top: 5.5%;
    width: 100%;
}
.mulai{
    margin-top: -25%;
    margin-bottom: 23%;
    z-index: 99999;
    
}
.mulai a {
    text-decoration: none;
    background-color:rgb(120, 160, 87);
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    box-shadow: 2px 2px 2px 2px #414141;
}
.mulai a:hover {
    background-color: rgb(51, 75, 32);
    transition: all 0.3s ease-in-out;
}
h1 {
    background-color: rgb(80, 107, 27);
    padding: 1.1%;
    box-shadow: 0px 0px 5px olive;
    position: fixed;
    width: 100%;
    top: 0;
    font-size: 250%;
}
.question{
    font-weight: 600;

}
.answers {
    margin-bottom: 25px;
}
.answers label{
    display: block;
}
#submit{
	font-family: sans-serif;
	font-size: 20px;
	background-color: #279;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}
#submit:hover{
	background-color: #38a;
}
#wrapper {
    margin-bottom: 10.1%;
}
.button {
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    background-color: red;
    color: white;
    margin-bottom: 20%;
    font-size: medium;
}

.button:hover {
    transition: all 0.5s ease;
    background-color: rgb(114, 0, 0);
}

footer {
    bottom: 0;
    padding: 2% 20%;
    background-color: rgb(49, 49, 49);
    color: white;
}


#quiz-pict {
    margin-top: 5%;
}

/* div gallery */
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 800px;
    clear: both;
    margin-left: 25%;
    display: block;

}

div.gallery:hover {
border: 1px solid #777;
}

div.gallery img {
width: 100%;
height: auto;

}

div.desc {
padding: 15px;
text-align: center;
}

.button-home {
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 2px;
    background-color:rgb(51, 75, 32);
    color: white;
    margin-bottom: 20%;
    font-size: medium;
    position: fixed;
}

.button-home:hover {
    transition: all 0.5s ease;
    background-color:rgb(29, 42, 18);
}